# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Linux/Windows
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# IDE
.vscode/
.idea/
*.iml

# Env / secrets
.env
.env.*
*.pem
*.key
